<!-- Page Header -->
<header class="masthead" style="background-image: url('/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>New Post</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row mt-4">
    <div class="col-md-6">
      <h3>Create a New Post:</h3>
      <form class="form new-post-form">
        <div class="control-group">
          <div class="form-group floating-label-form-group controls">
            <label for="post-title">Title:</label>
            <input type="text" class="form-control" placeholder="Title" id="post-title" name="post-title" />
          </div>
        </div>
        <div class="control-group">
          <div class="form-group col-xs-12 floating-label-form-group controls">
            <label for="post-content">Content:</label>
            <textarea class="form-control" placeholder="Content" rows="10" id="post-content" name="post-content"></textarea>
          </div>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>

<script src="/js/new.js"></script>